@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top right,
      rgba(233,106,132,0.08),
      transparent 25%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(255,255,255,0.7),
      transparent 35%
    ),
    linear-gradient(
      180deg,
      #fffafb 0%,
      #f9ecef 45%,
      #f4dada 100%
    );

  color: #1F1A17;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}